@media (max-width: 1120px) {
    .account-verifications {
        position: relative;
        top: auto;
        left: auto;
        max-width: 100%;
        width: 100%;
    }
    .account-verifications {
        margin-bottom: 15px;
    }
    .account-verifications__content {
        display: block;
        width: 100%;
        text-align: center;
    }
    .photo__nowork {
        display: block;
    }
    .sucsessVer .account-verifications__title {
        display: inline-block;
        padding-left: 40px;
        margin-bottom: 15px;
    }
    .sucsessVer .account-verifications__title:before {
        top: -8px;
    }
}

@media (max-width: 680px) {
    .verification-choose__content {
        padding: 25px 30px 0px;
    }
    .bank__wrapper {
        flex-wrap: wrap;
        text-align: center;
    }
    .bank__wrapper-item {
        width: 50%;
        margin-bottom: 50px;
    }
    .verification-content {
        padding: 25px;
    }
    .bank__item-bank {
        display: block;
        margin: 0 auto;
    }
    .bank__item-name {
        display: inline-block;
    }
    .photo-wrapper {
        display: block;
    }
    .photo-wrapper__list {
        margin-left: 0;
        margin-top: 30px;
    }
    .photo-wrapper__img img {
        margin: 0 auto;
    }
}

@media (max-width: 510px) {
    .verification-content__items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .verification-items__item {
        margin-bottom: 15px;
    }
    .verification-choose__content {
        padding: 15px 30px 0px;
    }
    /* .bank__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bank__wrapper-item {
        width: auto;
    } */
    .bank__item-name {
        padding-left: 20px;
    }
    .popup-verification {
        padding: 40px 20px;
    }
    .verification-content__title {
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
    }
    .verification-content__subtitle {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    }
    .verification-item__text {
        max-width: 100%;
    }
}

@media (max-width: 350px) {
    .photo-do .verification-content {
        padding: 25px 0;
    }
}